/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
.byebug_history
/config/master.key
package-lock.json
/node_modules
.DS_Store

# Environment variables
.env
.env.rspec
.gems
coverage/
*.png
*.csv
*.txt

# Ignore master key for decrypting credentials and more.
/config/master.key
